.App {
  text-align: center;
  scroll-behavior: smooth;
}

.Circular{
  width: 10em;
  margin: 0 auto;
}

.Header{
  text-align: center;
}
.Spacer{
  margin: 2em;
}

.collectionDiv{

  margin: 0 auto;
  padding: 2em;
  border: black 0.5em solid;
}

.Results{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

  .CollectionList 
  { 
 list-style-type: upper-roman;
  list-style-image: url(' ');
  list-style-position: inside;
  } 
 .CollectionList li
 { 
 padding: 13px; 
  margin: 0px; 
  }  