.Card {
  border-radius: 10px;
  box-shadow: 20px rgb(71, 71, 71);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 40%;
  padding: 10px;
  border: black 5px solid;
  background: #57ce5b;
  background: -moz-linear-gradient(top, #57ce5b 0%, #a48e2c 45%, #c53d3d 100%);
  background: -webkit-linear-gradient(
    top,
    #57ce5b 0%,
    #a48e2c 45%,
    #c53d3d 100%
  );
  background: linear-gradient(to bottom, #57ce5b 0%, #a48e2c 45%, #c53d3d 100%);
}

.image {
  border-radius: 10%;
}
